body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.cardstyle {
    margin-top: 5%;
    border: 1px solid #000;
    height:60px;
    width: fit-content;
    /* text-align: center; */
    background-color: #9adaff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 1px #00000070;
    text-shadow: 5px 5px 1px #00000070;
    font-weight: bold;
}

form {
    padding: 5%;
    width: 50%;
    height: fit-content;
    display: grid;
}

input {
    margin-top: 1px;
    background-color: #9adaff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 1px #00000070;
    text-shadow: 5px 5px 1px #00000070;
    border: none;
    font-weight: bold;
    text-align: center;
}

#btn {
    background-color: #9adaff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 1px #00000070;
    text-shadow: 5px 5px 1px #00000070;
    border: none;
    font-weight: bold;
}

#btn:hover {
    cursor: pointer;
}